.icon-oracle_schema {
  background-image: url('{{ url_for('NODE-server.static', filename='img/oracle.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-coll-oracle_schema {
  background-image: url('{{ url_for('NODE-server.static', filename='img/oracle.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}
